<h1 style="text-align:center">Shell.AI EV Problem (LP part) </h1>

In [1]:
!pip install pulp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pulp
  Downloading PuLP-2.6.0-py3-none-any.whl (14.2 MB)
     |████████████████████████████████| 14.2 MB 5.3 MB/s
Installing collected packages: pulp
Successfully installed pulp-2.6.0

In [2]:
from pulp import *
import numpy as np
import pandas as pd

In [3]:
Dist = np.random.randn(4096,100)

In [4]:
# so we have here is existing infrastructure and we need to model the different data points(supply) 
#that goes with the demand points
supply_points_existing = pd.read_csv("./exisiting_EV_infrastructure_2018.csv")
supply_points_existing

,supply_point_index,x_coordinate,y_coordinate,total_parking_slots,existing_num_SCS,existing_num_FCS
0,0,50.163110,19.412014,23,5,3
1,1,37.336451,58.119225,27,4,7
2,2,46.709232,57.525650,31,6,14
3,3,30.528626,55.379835,26,5,5
4,4,51.521781,35.116755,32,11,6
...,...,...,...,...,...,...
95,95,45.471204,20.999414,24,3,4
96,96,30.318396,33.388335,32,5,10
97,97,36.218839,22.235766,32,4,14
98,98,42.936915,38.122442,28,7,5
99,99,19.590263,3.830284,24,2,11

In [5]:
demand=pd.read_csv("./Demand_History_predicted.csv")
demand.head()

,demand_point_index,x_coordinate,y_coordinate,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,0.5,0.5,0.352242,0.667932,0.958593,2.911901,4.338274,6.561995,8.454417,10.595324,13.119572,54.176315,56.992560
1,1,1.5,0.5,0.325940,0.591964,0.862652,2.589068,4.196034,5.745551,8.753195,11.126995,12.020091,55.273690,57.075462
2,2,2.5,0.5,0.373752,0.591890,0.969733,2.641432,3.541772,5.469161,8.414627,10.115336,14.018254,55.291610,57.088287
3,3,3.5,0.5,0.420686,0.584055,0.906547,2.378577,3.888121,5.846089,9.083868,12.424885,15.012302,55.404137,57.206757
4,4,4.5,0.5,0.475621,0.647940,0.981544,2.665400,4.218711,6.776609,8.851107,11.731131,16.355563,56.079346,58.839165

In [6]:
demand_2018 = demand["2018"].to_numpy()
np.sum(demand_2018) # 2018 EXISTING DEMAND

361529.6365968907

In [7]:
demand_2019 = demand["2019"]

In [8]:
#distance matrix between demand points and supply points
xs=np.array(supply_points_existing["x_coordinate"])
ys=np.array(supply_points_existing["y_coordinate"])
xd=np.array(demand["x_coordinate"])
yd=np.array(demand["y_coordinate"])
dist=np.zeros((100,4096))

for i in range(100):
    for j in range(4096):
        dist[i][j]=(((xs[i]-xd[j])**2)+((ys[i]-yd[j])**2))**0.5

dist=dist.T

In [9]:
SCS = supply_points_existing["existing_num_SCS"].to_numpy()
FCS = supply_points_existing["existing_num_FCS"].to_numpy()
parking_slots = supply_points_existing["total_parking_slots"].to_numpy()

In [10]:
np.sum(200*SCS + 400*FCS) # EXISTING SUPPLY

361600

2019

In [11]:
# Create the 'prob' variable to contain the problem data
prob = LpProblem("The EV problem", LpMinimize)

# setting up the required LP variables in the problems
supply_vars_SCS = LpVariable.dict("SCS", (range(100)), 0,None, cat=LpInteger) # minimum value is zero(constraint - 1)
supply_vars_FCS = LpVariable.dict("FCS", (range(100)), 0,None, cat=LpInteger) # minimum value is zero ( constraint - 1)
demand_supply_matrix = LpVariable.dict("Demand", (range(4096),range(100)), 0,None, cat=LpContinuous) 
# demand is varying continuously as given in the data (constraint 1+2)

/usr/local/lib/python3.7/dist-packages/pulp/pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [12]:
np.size(dist)

409600

In [13]:
demand_supply_matrix[0,1].value()

In [14]:
# The objective function is added to 'prob' first
prob += (
    lpSum([
          [
            (dist[i][j]*(demand_supply_matrix[i,j])) 
            for i in range(4096)] for j in range(100)
         ]
    )+
        lpSum([
          
            ((supply_vars_SCS[j] + 1.5*supply_vars_FCS[j])) 
             for j in range(100)
         ]
        ), 
    "Total Cost Function",
)

In [15]:
# 3) Sum of FCS and SCS at jth point must be less than the total parking slots at the point
for j in range(100):
  prob += (
    lpSum(supply_vars_SCS[j] + supply_vars_FCS[j]) <= parking_slots[j],
    f"Parking_max {j}",
  )

In [16]:
# Now we are defining the constraints to the problem here that are needed to be solved 
# 4) the infrastructure needs to be built on the existing infrastructure
for j in range(100):
  prob += (
    supply_vars_SCS[j] >= SCS[j],
    f"SCS_min_{j}",
  ) 
for j in range(100):
  prob += (
    supply_vars_FCS[j] >= FCS[j],
    f"FCS_min_{j}",
  )

In [17]:
# 5) Demand satisfed by each jth supply point should be less than or equal to the maximum supply available
for j in range(100):
  prob += (
   lpSum(200*supply_vars_SCS[j] + 400*supply_vars_FCS[j]) - lpSum([demand_supply_matrix[i,j] for i in range(4096)])>= 0,
   f"demand_{j}",
  )

In [18]:
# 6) Demand satisfed by each ith point should equal to the demand at the time
for i in range(4096):
  prob += (
    lpSum([demand_supply_matrix[i,j] for j in range(100)]) == demand_2019[i],
    f"demand_match_{i}",
  )

In [19]:
prob.solve()

1

In [ ]:
prob.writeLP("./lpsol.txt")

In [21]:
demand_supply_matrix_2019 = np.zeros((4096,100))
for i in range(4096):
  for j in range(100):
    demand_supply_matrix_2019[i][j] = demand_supply_matrix[i,j].value()

In [22]:
np.sum(demand_supply_matrix_2019)

272774.787576

In [23]:
SCS_2019 = np.zeros(100)
FCS_2019 = np.zeros(100)
for i in range(100):
    SCS_2019[i] = supply_vars_SCS[i].value()
for i in range(100):
    FCS_2019[i] = supply_vars_FCS[i].value()

In [24]:
np.sum(200*SCS_2019 + 400*FCS_2019)

448400.0

In [25]:
# Value of cost function I got here
cost_2019 = 0
for i in range(4096):
  for j in range(100):
      cost_2019 += (dist[i][j]*(demand_supply_matrix_2019[i][j])) 
for j in range(100):
  cost_2019 += 600*(SCS_2019[j] + 1.5*FCS_2019[j])

In [26]:
cost_2019

2251350.4939743932

In [27]:
score_2018 = max(10, 100 - ((90*cost_2019)/15000000))
score_2018

86.49189703615365

Constraint-5 correction

In [28]:
# 5) Demand satisfed by each jth supply point should be less than or equal to the maximum supply available
constraint_5 = True
constraint_5_array = []
for j in range(100):
  if np.sum(demand_supply_matrix_2019[i][j] for i in range(4096)) > (200*SCS_2019[j]+400*FCS_2019[j]):
    constraint_5 = False
    print(j)
    constraint_5_array.append(j)

0
10
15
34
35
37
64
66
72
76
81
90
92

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  """

In [29]:
len(demand_supply_matrix_2019[4095])

100

In [51]:
j = 64
np.sum(demand_supply_matrix_2019[i][j] for i in range(4096))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.

7399.999999999999

In [52]:
(200*SCS_2019[j]+400*FCS_2019[j])

7400.0

In [50]:
for j in constraint_5_array:
  for i in range(4096):
    if (demand_supply_matrix_2019[i][j] > 0):
      demand_supply_matrix_2019[i][j] -= np.sum(demand_supply_matrix_2019[i][j] for i in range(4096)) - (200*SCS_2019[j]+400*FCS_2019[j])
      break

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  after removing the cwd from sys.path.

In [33]:
constraint_5

False

In [47]:
# 5) Demand satisfed by each jth supply point should be less than or equal to the maximum supply available
constraint_5 = True
constraint_5_array = []
for j in range(100):
  if np.sum(demand_supply_matrix_2019[i][j] for i in range(4096)) > (200*SCS_2019[j]+400*FCS_2019[j]):
    constraint_5 = False
    print(j)
    constraint_5_array.append(j)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  """

64

Checking constraints

In [34]:
# 1st and 2nd constraints must be true as they are initialized using bounded conditions(0-Infinity)

In [35]:
constraint_1 = True
for i in SCS_2019:
  if i<0:
    constraint_1 = False
    print(i)
for i in FCS_2019:
  if i<0:
    constraint_1 = False
    print(i)

In [36]:
constraint_2 = True
for i in range(4096):
  for j in range(100):
    if demand_supply_matrix_2019[i][j] < 0:
      constraint_2 = False
      print(i,j)

In [37]:
# checking constraints
# 3) Sum of FCS and SCS at jth point must be less than the total parking slots at the point
constraint_3 = True
for i in range(100):
  if (SCS_2019[i] + FCS_2019[i]) > parking_slots[i]:
    constraint_3 = False
    print(i)

In [38]:
# 4) the infrastructure needs to be built on the existing infrastructure
constraint_4 = True
for i in range(100):
  if (SCS_2019[i] < SCS[i]) or (FCS_2019[i] < FCS[i]):
    constraint_4 = False
    print(i)

In [53]:
# 5) Demand satisfed by each jth supply point should be less than or equal to the maximum supply available
constraint_5 = True
constraint_5_array = []
for j in range(100):
  if np.sum(demand_supply_matrix_2019[i][j] for i in range(4096)) > (200*SCS_2019[j]+400*FCS_2019[j]):
    constraint_5 = False

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  """

In [54]:
# 6) Demand satisfed by each ith point should equal to the demand at the time
constraint_6 = True
for i in range(4096):
  if (np.sum(demand_supply_matrix_2019[i][j] for j in range(100)) != demand_2019[i]):
    constraint_6 = False
    print(i)

34
42
51
61
368
394
654
712
888
920
1029
1407
1418
1429
2242
2806
3497
3573

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  after removing the cwd from sys.path.

In [55]:
print("constraint 1:",constraint_1)
print("constraint 2:",constraint_2)
print("constraint 3:",constraint_3)
print("constraint 4:",constraint_4)
print("constraint 5:",constraint_5)
print("constraint 6:",constraint_6)

constraint 1: True
constraint 2: True
constraint 3: True
constraint 4: True
constraint 5: True
constraint 6: False

2020

In [63]:
# Create the 'prob' variable to contain the problem data
prob = LpProblem("The EV problem-2", LpMinimize)

# setting up the required LP variables in the problems
supply_vars_SCS = LpVariable.dict("SCS", (range(100)), 0,None, cat=LpInteger) # minimum value is zero(constraint - 1)
supply_vars_FCS = LpVariable.dict("FCS", (range(100)), 0,None, cat=LpInteger) # minimum value is zero ( constraint - 1)
demand_supply_matrix = LpVariable.dict("Demand", (range(4096),range(100)), 0,None, cat=LpContinuous) 
# demand is varying continuously as given in the data (constraint 1+2)

In [64]:
# The objective function is added to 'prob' first
prob += (
    lpSum([
          [
            (dist[i][j]*(demand_supply_matrix[i,j])) 
            for i in range(4096)] for j in range(100)
         ]
    )+
        lpSum([
          
            ((supply_vars_SCS[j] + 1.5*supply_vars_FCS[j])) 
             for j in range(100)
         ]
        ), 
    "Total Cost Function",
)

In [65]:
# 3) Sum of FCS and SCS at jth point must be less than the total parking slots at the point
for j in range(100):
  prob += (
    lpSum(supply_vars_SCS[j] + supply_vars_FCS[j]) <= parking_slots[j],
    f"Parking_max {j}",
  )

In [66]:
# Now we are defining the constraints to the problem here that are needed to be solved 
# 4) the infrastructure needs to be built on the existing infrastructure
for j in range(100):
  prob += (
    supply_vars_SCS[j] >= SCS_2019[j],
    f"SCS_min_{j}",
  ) 
for j in range(100):
  prob += (
    supply_vars_FCS[j] >= FCS_2019[j],
    f"FCS_min_{j}",
  )

In [67]:
# 5) Demand satisfed by each jth supply point should be less than or equal to the maximum supply available
for j in range(100):
  prob += (
   lpSum([demand_supply_matrix[i,j] for i in range(4096)]) - 
   lpSum(200*supply_vars_SCS[j] + 400*supply_vars_FCS[j]) <= 0,
   f"demand_{j}",
  )

In [68]:
demand_2020 = demand["2020"]

In [69]:
# 6) Demand satisfed by each ith point should equal to the demand at the time
for i in range(4096):
  prob += (
    lpSum([demand_supply_matrix[i,j] for j in range(100)]) == demand_2020[i],
    f"demand_match_{i}",
  )

In [70]:
prob.solve()

1

In [71]:
demand_supply_matrix_2020 = np.zeros((4096,100))
for i in range(4096):
  for j in range(100):
    demand_supply_matrix_2020[i][j] = demand_supply_matrix[i,j].value()

In [72]:
np.sum(demand_supply_matrix_2020)

278364.83190800005

In [73]:
SCS_2020 = np.zeros(100)
FCS_2020 = np.zeros(100)
for i in range(100):
    SCS_2020[i] = supply_vars_SCS[i].value()
for i in range(100):
    FCS_2020[i] = supply_vars_FCS[i].value()

In [74]:
np.sum(200*SCS_2020 + 400*FCS_2020)

452400.0

In [75]:
# Value of cost function I got here
cost_2020 = 0
for i in range(4096):
  for j in range(100):
      cost_2020 += (dist[i][j]*(demand_supply_matrix_2020[i][j])) 
for j in range(100):
  cost_2020 += 600*(SCS_2020[j] + 1.5*FCS_2020[j])
cost_2020

2295866.548344559

In [76]:
score_2020 = max(10, 100 - ((90*cost_2020)/15000000))
score_2020

86.22480070993265

Correcting constraint 5:

In [87]:
# 5) Demand satisfed by each jth supply point should be less than or equal to the maximum supply available
constraint_5 = True
constraint_5_array = []
for j in range(100):
  if np.sum(demand_supply_matrix_2020[i][j] for i in range(4096)) > (200*SCS_2020[j]+400*FCS_2020[j]):
    constraint_5 = False
    print(j)
    constraint_5_array.append(j)

34

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  """

In [78]:
len(demand_supply_matrix_2020[4095])

100

In [88]:
j = 34
np.sum(demand_supply_matrix_2020[i][j] for i in range(4096))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.

6600.000000000001

In [89]:
(200*SCS_2020[j]+400*FCS_2020[j])

6600.0

In [90]:
for j in constraint_5_array:
  for i in range(4096):
    if (demand_supply_matrix_2020[i][j] > 0):
      demand_supply_matrix_2020[i][j] -= np.sum(demand_supply_matrix_2020[i][j] for i in range(4096)) - (200*SCS_2020[j]+400*FCS_2020[j])
      break

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  after removing the cwd from sys.path.

Checking Constraints

In [82]:
# 1st and 2nd constraints must be true as they are initialized using bounded conditions(0-Infinity)
constraint_1 = True
for i in SCS_2020:
  if i<0:
    constraint_1 = False
    print(i)
for i in FCS_2020:
  if i<0:
    constraint_1 = False
    print(i)
constraint_2 = True
for i in range(4096):
  for j in range(100):
    if demand_supply_matrix_2020[i][j] < 0:
      constraint_2 = False
      print(i,j)

In [83]:
# checking constraints
# 3) Sum of FCS and SCS at jth point must be less than the total parking slots at the point
constraint_3 = True
for i in range(100):
  if (SCS_2020[i] + FCS_2020[i]) > parking_slots[i]:
    constraint_3 = False
    print(i)

In [84]:
# 4) the infrastructure needs to be built on the existing infrastructure
constraint_4 = True
for i in range(100):
  if (SCS_2020[i] < SCS_2019[i]) or (FCS_2020[i] < FCS_2019[i]):
    constraint_4 = False
    print(i)

In [91]:
# 5) Demand satisfed by each jth supply point should be less than or equal to the maximum supply available
constraint_5 = True
constraint_5_array = []
for j in range(100):
  if np.sum(demand_supply_matrix_2020[i][j] for i in range(4096)) > (200*SCS_2020[j]+400*FCS_2020[j]):
    constraint_5 = False
    print(j)
    constraint_5_array.append(j)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  """

In [93]:
# 6) Demand satisfed by each ith point should equal to the demand at the time
constraint_6 = True
for i in range(4096):
  if np.sum(demand_supply_matrix_2020[i][j] for j in range(100)) != demand_2020[i]:
    constraint_6 = False
    print(i)

34
42
51
61
147
368
447
920
941
986
1029
1051
1407
1418
1428
2188
2806

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  after removing the cwd from sys.path.

In [94]:
print("constraint 1:",constraint_1)
print("constraint 2:",constraint_2)
print("constraint 3:",constraint_3)
print("constraint 4:",constraint_4)
print("constraint 5:",constraint_5)
print("constraint 6:",constraint_6)

constraint 1: True
constraint 2: True
constraint 3: True
constraint 4: True
constraint 5: True
constraint 6: False

In [95]:
demand

,demand_point_index,x_coordinate,y_coordinate,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,0.5,0.5,0.352242,0.667932,0.958593,2.911901,4.338274,6.561995,8.454417,10.595324,13.119572,54.176315,56.992560
1,1,1.5,0.5,0.325940,0.591964,0.862652,2.589068,4.196034,5.745551,8.753195,11.126995,12.020091,55.273690,57.075462
2,2,2.5,0.5,0.373752,0.591890,0.969733,2.641432,3.541772,5.469161,8.414627,10.115336,14.018254,55.291610,57.088287
3,3,3.5,0.5,0.420686,0.584055,0.906547,2.378577,3.888121,5.846089,9.083868,12.424885,15.012302,55.404137,57.206757
4,4,4.5,0.5,0.475621,0.647940,0.981544,2.665400,4.218711,6.776609,8.851107,11.731131,16.355563,56.079346,58.839165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,4091,59.5,63.5,0.171015,0.334565,0.556055,1.373291,1.837586,2.517146,3.352280,4.149888,5.426193,41.042656,41.051560
4092,4092,60.5,63.5,0.041716,0.061741,0.131291,0.386540,0.755846,0.941116,1.107797,1.309479,2.057450,40.949844,41.030586
4093,4093,61.5,63.5,0.100895,0.180352,0.296299,0.705373,1.300220,1.608609,1.822806,2.333681,3.218519,41.000305,41.039116
4094,4094,62.5,63.5,0.155353,0.290825,0.557803,1.516066,2.399426,2.719197,4.494515,6.096858,6.262574,41.042183,41.051994
4095,4095,63.5,63.5,0.209372,0.340185,0.749491,1.904285,2.775772,3.404641,4.574922,6.301078,6.860939,41.043777,41.120140

In [96]:
'''
fileh = open("submit-lr.csv", "r+")
fileh.write("year,data_type,demand_point_index,supply_point_index,value\n")
for i in range(100):
    fileh.write(f"2019,SCS,,{i},{int(SCS_2019[i])}\n")
for i in range(100):
    fileh.write(f"2019,FCS,,{i},{int(FCS_2019[i])}\n")
for i in range(4096):
    for j in range(100):
        fileh.write(f"2019,DS,{i},{j},{demand_supply_matrix_2019[i][j]}\n")
for i in range(100):
    fileh.write(f"2019,SCS,,{i},{int(SCS_2020[i])}\n")
for i in range(100):
    fileh.write(f"2019,FCS,,{i},{int(FCS_2020[i])}\n") 
for i in range(4096):
    for j in range(100):
        fileh.write(f"2020,DS,{i},{j},{demand_supply_matrix_2020[i][j]}\n")
'''