In [104]:
import pandas as pd

In [105]:
df = pd.read_csv("./submit-8.csv")

In [106]:
df

        2020   DS    0   0.1   0.0
0       2020   DS  0.0   1.0   0.0
1       2020   DS  0.0   2.0   0.0
2       2020   DS  0.0   3.0   0.0
3       2020   DS  0.0   4.0   0.0
4       2020   DS  0.0   5.0   0.0
...      ...  ...  ...   ...   ...
409940  2019  FCS  NaN  95.0   5.0
409941  2019  FCS  NaN  96.0  10.0
409942  2019  FCS  NaN  97.0  14.0
409943  2019  FCS  NaN  98.0   5.0
409944  2019  FCS  NaN  99.0  14.0

[409945 rows x 5 columns]

In [107]:
scs = df[(df["data_type"] == "SCS")]

KeyError: 'data_type'

In [ ]:
SCS_2019 = scs[scs["year"] == 2019]["value"].to_numpy()
SCS_2020 = scs[scs["year"]== 2020]["value"].to_numpy()

In [ ]:
SCS_2019

array([ 5.,  4.,  6.,  5., 11.,  9.,  9.,  6.,  9.,  6.,  6.,  9.,  6.,
        7.,  4.,  5.,  4.,  4.,  1.,  6.,  6., 10.,  5.,  4.,  7.,  6.,
        7.,  8., 11.,  7.,  5.,  6.,  7.,  6.,  5.,  2.,  4.,  4.,  5.,
        6.,  7.,  3., 11.,  6.,  2.,  7.,  3.,  5.,  7.,  7.,  8.,  4.,
        3.,  2.,  3.,  3.,  6.,  5.,  8.,  8.,  2.,  4.,  5.,  6.,  3.,
        4.,  2.,  8.,  6.,  5.,  2., 12., 11.,  5.,  3.,  3.,  4.,  7.,
       11.,  7.,  8.,  8.,  6.,  7.,  5.,  9.,  6.,  5.,  4.,  3., 11.,
        3.,  6.,  9.,  7.,  3.,  5.,  4.,  7.,  3.,  5.,  4.,  6.,  5.,
       11.,  9.,  9.,  6.,  9.,  7.,  6.,  9.,  6.,  7.,  4.,  6.,  4.,
        4.,  1.,  6.,  6., 10.,  5.,  4.,  7.,  6.,  7.,  8., 11.,  8.,
        5.,  6.,  7.,  6.,  5.,  2.,  5.,  4.,  6.,  6.,  7.,  3., 11.,
        6.,  3.,  7.,  3.,  5.,  7.,  7.,  8.,  5.,  3.,  2.,  3.,  3.,
        6.,  5.,  8.,  9.,  2.,  4.,  5.,  6.,  3.,  4.,  2.,  8.,  6.,
        5.,  2., 12., 12.,  5.,  3.,  3.,  4.,  7., 11.,  7.,  8.,  8.,
        6.,  7.,  5.,  9.,  6.,  5.,  4.,  3., 11.,  3.,  6., 10.,  7.,
        3.,  5.,  4.,  7.,  3.])

In [ ]:
fcs = df[(df["data_type"] == "FCS")]
FCS_2019 = fcs[fcs["year"] == 2019]["value"].to_numpy()
FCS_2020 = fcs[fcs["year"]== 2020]["value"].to_numpy()

In [ ]:
DS = df[(df["data_type"] == "DS")]
DS

        year data_type  demand_point_index  supply_point_index  value
200     2019        DS                 0.0                   0    0.0
201     2019        DS                 0.0                   1    0.0
202     2019        DS                 0.0                   2    0.0
203     2019        DS                 0.0                   3    0.0
204     2019        DS                 0.0                   4    0.0
...      ...       ...                 ...                 ...    ...
819274  2020        DS              4092.0                  74    0.0
819275  2020        DS              4092.0                  75    0.0
819276  2020        DS              4092.0                  76    0.0
819277  2020        DS              4092.0                  77    0.0
819278  2020        DS              4092.0                  78    0.0

[818879 rows x 5 columns]

In [ ]:
DS_2019 = (DS[(DS["year"] == 2019)]["value"]).to_numpy().reshape(4096,100)
DS_2019

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
DS_2020 = (DS[(DS["year"] == 2020)]["value"]).to_numpy()

In [ ]:
len(DS_2020)

409279

In [ ]:
DS_2020 = (DS[(DS["year"] == 2020)]["value"]).to_numpy().reshape(4096,100)
DS_2020

ValueError: cannot reshape array of size 409279 into shape (4096,100)

In [ ]:
import numpy as np
diff_2019 = []
for j in range(100):
    diff_2019.append(np.sum(DS_2019[i][j] for i in range(4096)) - (200*SCS_2019[j]+400*FCS_2019[j]))

/var/folders/v7/wn2zvh_s62j47vfhzyprqqj00000gn/T/ipykernel_78098/420380998.py:4: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  diff_2019.append(np.sum(DS_2019[i][j] for i in range(4096)) - (200*SCS_2019[j]+400*FCS_2019[j]))

In [ ]:
min(diff_2019)

-2.1840566547134586

In [ ]:
max(diff_2019)

-0.00022484113162590802

In [ ]:
len(DS_2020[0])

100

In [ ]:
import numpy as np
diff_2020 = []
for j in range(100):
    diff_2020.append(np.sum(DS_2020[i][j] for i in range(4096)) - (200*SCS_2020[j]+400*FCS_2020[j]))

/var/folders/v7/wn2zvh_s62j47vfhzyprqqj00000gn/T/ipykernel_78098/3759583170.py:4: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  diff_2020.append(np.sum(DS_2020[i][j] for i in range(4096)) - (200*SCS_2020[j]+400*FCS_2020[j]))

In [ ]:
min(diff_2020)

-2.1840566547134586

In [ ]:
max(diff_2020)

-0.00022484113162590802